@import "/Styles/Estilos.css";

main{
    background-color: white;
}

.Libros img{
    width: 60%;
}
.Libros div{
    background-color: rgba(255, 228, 196, 0.315);
    width: 20%;
    border: 5px solid black;
    padding: 2%;
    margin:30px;
    float: left;
}