@import "./Estilos.css";
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white
       
}

.form-content{
        padding:15px;
        width:98%;
        border-radius: 255px;
}

.form-content h2{
    color: #000000;
    font-size: 40px;
    margin-bottom: 100px;
}

form{
    flex-direction:column;
}

label{
    font-size: 20px;
    color: #000000;
    margin-bottom: 100px;
}

input , textarea{
    padding: 20px 20px;
    border: 0;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: rgba(255,228,196,0.315);
    margin-bottom: 20px;
    border-radius: 15px;
}

:focus{
    outline:1px solid rgb(0, 0, 0);
}

footer{
    margin-top: 10%;
}

#checkit{
    width: 27%;
    float: right;
}

#subject{
    width: 18%;
}