@import "/Styles/Estilos.css";

#Caja {
    background-color: rgba(255, 228, 196, 0.315);
    width: 20%;
    min-height: 50%;
    border: 5px solid black;
    padding: 2%;
    margin: 3%;
    float: left;
    text-align: center;
}

#Caja .nav-link{
    font-weight: bold;
}

#Caja .nav-link:hover{
        color:red;
}

#Caja .titulo{
    text-decoration: none;
    color:black;
    font-weight: 600;
    padding-right: 25px;
}
