@import "Estilos.css";

.Caja {
    background-color: rgba(255, 228, 196, 0.315);
    width: 20%;
    border: 5px solid black;
    padding: 2%;
    margin: 3%;
    float: left;
    text-align: center;
}

.Agenda :hover{
        color:red;
}
.Inicio_sesion :hover{
    color:red;
}
.Catalogo :hover{
    color:red
}
.Agenda{
    text-decoration: none;
    color:black;
    font-weight: 600;
    padding-right: 25px;
}
.Inicio_sesion{
    text-decoration: none;
    color:black;
    font-weight: 600;
    padding-right: 25px;
}
.Catalogo{
    text-decoration: none;
    color:black;
    font-weight: 600;
    padding-right: 10px;
}

