@import "/Styles/Estilos.css";

#Caja {
    background-color: #ffe4c450;
    width: 20%;
    min-height: 50%;
    border: 5px solid black;
    padding: 2%;
    margin: 3%;
    float: left;
    text-align: center;
}

#Caja .nav-link{
    font-weight: bold;
}

#Caja .nav-link:hover{
    color:#ff0000;
}

#Caja .titulo{
    text-decoration: none;
    color:#000000;
    font-weight: 600;
    padding-right: 25px;
}
