@import "/Styles/Estilos.css";

.services{

    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service{
    padding: 20px;
    margin:  10px 0px;
    box-shadow: 0px 0px 15px rgba(135, 141, 214, 0.3);
}

.services img{
    margin-top: 20px;
    width: 200px;
}
.agenda .texto_agenda{
    padding: 20px;
    margin: 20px;
    text-decoration: none;
}
  
