@import "/Styles/Estilos.css";

#services{

    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service{
    background-color: rgba(255, 228, 196, 0.315);
    padding: 20px;
    margin:  10px 0px;
    box-shadow: 0px 0px 15px rgba(135, 141, 214, 0.3);
}

#services img{
    margin-top: 20px;
    width: 200px;
}

.agenda .texto_agenda{
    padding: 20px;
    margin: 20px;
    text-decoration: none;
}
  
.agenda{
text-align: center;
font-family: "Bona Nova SC", serif;
font-weight: 400;
font-style: normal;
font-size: 30px;
}

#Horarios, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 5%;
    padding: 1%;
    text-align: center;
}

#Horarios{
    float: center;
    width: 50%;
}

.Abierto{
   background-color:  rgb(219, 245, 179);
   
}

.Cerrado{
    background-color:  rgb(255, 135, 135);
}

.Evento{
    background-color:  rgb(177, 183, 244);
}
